/* Base styles for body and font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Header styles */
.header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, var(--purplight), var(--purpdark));
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.header > h1 {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* Navigation bar styles */
.nav {
  width: auto;
}

.nav ul {
  padding: 0;
  height: 50px;
  list-style: none;
  /* background-color: #326B9B; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px; */
}

.nav li {
  padding: 0;
  margin: 0 25px;
}

.nav a, .nav button{
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.nav a:hover, .nav button:hover {
  background-color: var(--pink);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.nav button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

li {
  list-style: none;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid var(--creamgreen);
}

/* Mobile responsive styles for burger menu */
.menu-button {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1000;
}

.dropdown-menu {
  will-change: transform, opacity;
  position: absolute;
  top: 130px;
  right: 0;
  background-color: var(--purpdark);
  width: 100%;
  z-index: 999;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  backface-visibility: hidden; /* Helps with rendering performance */
  perspective: 1000px; /* Force better rendering on mobile */
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}


.dropdown-menu .nav {
  display: flex;
  flex-direction: column;
}

.dropdown-menu .nav-item {
  margin: 0;
  list-style-type: none;
}

.dropdown-menu .nav-link {
  padding: 1rem;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

.dropdown-menu .nav-link.active {
  font-weight: bold;
}

/* Responsive Styles for small screens */
@media (max-width: 840px) {
  .nav ul {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .dropdown-menu {
    display: block;
    will-change: transform, opacity; /* Hint for smooth animations */
  }
}
